body {
    background-color: black;
}


.titulo {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    color: white;
}

.barra_nav {
    justify-content: center;
    color: white;
    display: flex;
    margin-left: 300px;
    margin-top: 50px;
    margin-right: 300px;
    list-style-type: none;
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
}

.item_nav {
    font-size: 16px;
    font-family: cursive;
    font-weight: lighter;
    padding: 8px 30px 8px 30px;
}

.item_nav:hover {
    font-size: 20px;
    background-color:transparent;
    border-radius: 15%;
}

.barra_pesquisa {
    margin-left: 10px;
    border:solid 1px;
    border-radius: 15px;
    width: 300px;
}

#busca_text {
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-size: 18px;
    border: none;
    height: 32px;
    width: 260px;
    color: white;
}

#bota_busca {
    border-radius: 15px;
    padding-top: 5px;
}

.apresentacao {
    border-style: solid;
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: white;
    display: flex;
    flex-direction: row;
    margin: 50px 80px;
}

.dados{
    font-size: 20px;
    font-family: monospace;
    margin-top: 20px;
    margin-left: 30px;
    font-style: italic;
    font-weight: bold;
}

.itens_dados {
    margin-bottom: 30px;
    
}

#imagem {
    border-radius: 50%;
    height: 200;
    width: 200;
}